# Ignore node_modules in frontend and any subfolder
frontend/node_modules/
**/node_modules/

# Ignore build output
build/bin
frontend/dist

# Ignore certificates
certificates/

# Ignore environment variables file
.env
